<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta
			name="description"
			content="Books, fairy tales and stories for children and teens in Ukrainian for free. Click on the picture and download the pdf on your device."
		/>
		<title>Fairy tales in Ukrainian for free</title>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;600&display=swap"
			rel="stylesheet"
		/>
		<link rel="stylesheet" type="text/css" href="../css/main.css" />
		<link
			rel="Shortcut icon"
			href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSoMyNshk7I5imsZWzVOpjnwqL1m2miOBMqvea-NSjMZbO2uFbmQQBYNQE5X9dDaT5GH4M&usqp=CAU"
		/>
	</head>
	<body>
		<div class="divflags flagsbox">
			<div class="divflags fixed">
				<a href="./pl.html"
					><img
						src="https://flagcdn.com/40x30/pl.png"
						srcset="
							https://flagcdn.com/80x60/pl.png  2x,
							https://flagcdn.com/120x90/pl.png 3x
						"
						width="40"
						height="30"
						alt="język polski"
				/></a>
				<a href="./ua.html"
					><img
						src="https://flagcdn.com/40x30/ua.png"
						srcset="
							https://flagcdn.com/80x60/ua.png  2x,
							https://flagcdn.com/120x90/ua.png 3x
						"
						width="40"
						height="30"
						alt="język ukraiński"
				/></a>
				<a href="./us.html"
					><img
						src="https://flagcdn.com/40x30/us.png"
						srcset="
							https://flagcdn.com/80x60/us.png  2x,
							https://flagcdn.com/120x90/us.png 3x
						"
						width="40"
						height="30"
						alt="język angielski"
				/></a>
			</div>
		</div>
		<h1 class="m-hr f-h1">
			Fairy tales and stories in Ukrainian for children and teens for free
		</h1>
		<hr class="m-hr" />
		<p class="f-p1 m-s">
			While Ukraine is bravely defending itself against the barbarity of the
			Russian army, the little ones suffer the most. If you find yourself in a
			shelter, basement or under evacuation, take care of the children around
			you.
		</p>
		<p class="f-p1 m-s">Read to them.</p>
		<p class="f-p1 m-s">
			Reading books is soothing, it helps you calm the mind, ease the tension
			and fall asleep. Books can take you to a totally different world – a
			better world. A world where good always triumphs and evil is punished.
		</p>
		<p class="f-p1 m-s">
			Books for children of different ages have been made available by
			publishers free of charge. We make them available for you.
		</p>
		<p class="f-p1">
			All you need to do is just click on the picture and start reading. Read
			slowly, rhythmically, imitate the voices, make faces and a miracle will
			happen… I promise…
		</p>
		<hr class="m-hr" />
		<p></p>
		<a
			class="f-a"
			href="https://drive.google.com/uc?export=download&id=1u0YuMi1ZmHyNqHQfb8Hff-DtX_OrqT_x"
			>#1 Чемним діткам вірші про найголовніше</a
		>
		<p class="m-s"></p>
		<a
			href="https://drive.google.com/uc?export=download&id=1u0YuMi1ZmHyNqHQfb8Hff-DtX_OrqT_x"
			><img
				src="https://osvitoria.media/wp-content/webp-express/webp-images/uploads/2022/03/chemnim-ditkam-virshi-pro-najvazhlivishe.png.webp"
				alt="'Чемним діткам вірші про найголовніше"
		/></a>
		<p class="m-m"></p>
		<a
			class="f-a"
			href="https://drive.google.com/uc?export=download&id=1cDHYD_HUv_oPdOORq_b4cYIaU1McEs1H"
			>#2 Пташина колискова</a
		>
		<p class="m-s"></p>
		<a
			href="https://drive.google.com/uc?export=download&id=1cDHYD_HUv_oPdOORq_b4cYIaU1McEs1H"
			><img
				src="https://osvitoria.media/wp-content/webp-express/webp-images/uploads/2020/12/ptashina-koliskova-71012478237133_small6.jpg.webp"
				alt="Пташина колискова"
		/></a>
		<p class="m-m"></p>
		<a
			class="f-a"
			href="https://drive.google.com/uc?export=download&id=1y5diuDIZmZa1M5PhSVmleZj3lXiwNooR"
			>#3 Про кита</a
		>
		<p class="m-s"></p>
		<a
			href="https://drive.google.com/uc?export=download&id=1y5diuDIZmZa1M5PhSVmleZj3lXiwNooR"
			><img
				src="https://osvitoria.media/wp-content/webp-express/webp-images/uploads/2022/03/Pro-kyta-vsl.jpg.webp"
				alt="Про кита"
		/></a>
		<p class="m-m"></p>
		<a
			class="f-a"
			href="https://drive.google.com/uc?export=download&id=1vaA5RGoo8OxC_g-U77kL0uZhVKkjw9-1"
			>#4 З равликом на прогулянці</a
		>
		<p class="m-s"></p>
		<a
			href="https://drive.google.com/uc?export=download&id=1vaA5RGoo8OxC_g-U77kL0uZhVKkjw9-1"
			><img
				src="https://osvitoria.media/wp-content/webp-express/webp-images/uploads/2022/03/Z-ravlykom-na-progulianku.jpg.webp"
				alt="З равликом на прогулянці"
		/></a>
		<p class="m-m"></p>
		<a
			class="f-a"
			href="https://drive.google.com/uc?export=download&id=1LT6r3QmEkn91xHGu7iV6WiXfL3Tabuap"
			>#5 Подорож листа</a
		>
		<p class="m-s"></p>
		<a
			href="https://drive.google.com/uc?export=download&id=1LT6r3QmEkn91xHGu7iV6WiXfL3Tabuap"
			><img
				src="https://osvitoria.media/wp-content/webp-express/webp-images/uploads/2022/03/88f7c548_ff5c_11e6_80c5_000c29ae1566_d4f24095_7aaa_11e7_80cf_000c29ae1566.jpg.webp"
				alt="Подорож листа"
		/></a>
		<p class="m-m"></p>
		<a
			class="f-a"
			href="https://drive.google.com/uc?export=download&id=1C080jZLb6UCNn-Rts_Bkq5xa5Nzr3aac"
			>#6 Русалки</a
		>
		<p class="m-s"></p>
		<a
			href="https://drive.google.com/uc?export=download&id=1C080jZLb6UCNn-Rts_Bkq5xa5Nzr3aac"
			><img
				src="https://osvitoria.media/wp-content/webp-express/webp-images/uploads/2022/03/rusalky-ol.jpg.webp"
				alt="Русалки"
		/></a>
		<p class="m-m"></p>
		<a
			class="f-a"
			href="https://drive.google.com/uc?export=download&id=1Iiw7FWQcFwAygHOmvLAEtxe7rqgmI3kc"
			>#7 Гойдалка під кленом</a
		>
		<p class="m-s"></p>
		<a
			href="https://drive.google.com/uc?export=download&id=1Iiw7FWQcFwAygHOmvLAEtxe7rqgmI3kc"
			><img
				src="https://osvitoria.media/wp-content/webp-express/webp-images/uploads/2022/03/Goidalka-pid-klenom.jpg.webp"
		/></a>
		<p class="m-m"></p>
		<a
			class="f-a"
			href="https://drive.google.com/uc?export=download&id=1JPMUpGzzOUneAg-i2M_DmlVCayb-35M4"
			>#8 Скільки?</a
		>
		<p class="m-s"></p>
		<a
			href="https://drive.google.com/uc?export=download&id=1JPMUpGzzOUneAg-i2M_DmlVCayb-35M4"
			><img
				src="https://osvitoria.media/wp-content/webp-express/webp-images/uploads/2022/03/skilky-hom-many.jpg.webp"
		/></a>
		<p class="m-m"></p>
		<a
			class="f-a"
			href="https://drive.google.com/uc?export=download&id=1JXu0O55XXjKO59pESDfzAcVDTAVjJo0H"
			>#9 Пан Коцький, Міра і море</a
		>
		<p class="m-s"></p>
		<a
			href="https://drive.google.com/uc?export=download&id=1JXu0O55XXjKO59pESDfzAcVDTAVjJo0H"
			><img
				src="https://osvitoria.media/wp-content/webp-express/webp-images/uploads/2022/03/Pan-Kotskyij.jpg.webp"
		/></a>
		<p class="m-m"></p>
		<a
			class="f-a"
			href="https://drive.google.com/uc?export=download&id=1C4e452_Jo3sqApW58SRY4Rl01xHDZxOd"
			>#10 Герда. Історія одного китеняти</a
		>
		<p class="m-s"></p>
		<a
			href="https://drive.google.com/uc?export=download&id=1C4e452_Jo3sqApW58SRY4Rl01xHDZxOd"
			><img
				src="https://osvitoria.media/wp-content/webp-express/webp-images/uploads/2022/03/Gerda_1.jpg.webp"
		/></a>
		<p class="m-m"></p>
		<a
			class="f-a"
			href="https://drive.google.com/uc?export=download&id=1TpEj5YdqVA95jnaXAiDncVp-c5JHvNSL"
			>#11 Герда. Розровідь про мужність на морі</a
		>
		<p class="m-s"></p>
		<a
			href="https://drive.google.com/uc?export=download&id=1TpEj5YdqVA95jnaXAiDncVp-c5JHvNSL"
			><img
				src="https://osvitoria.media/wp-content/webp-express/webp-images/uploads/2022/03/Gerda_2.jpg.webp"
		/></a>
		<p class="m-m"></p>
		<a
			class="f-a"
			href="https://drive.google.com/uc?export=download&id=1-yzIfqy0itv7fQEFz8pD1x7qRLB_RGyS"
			>#12 Оповідки зубної феї. Частина 1. Знайомтеся - Бетті</a
		>
		<p class="m-s"></p>
		<a
			href="https://drive.google.com/uc?export=download&id=1-yzIfqy0itv7fQEFz8pD1x7qRLB_RGyS"
			><img
				src="https://osvitoria.media/wp-content/webp-express/webp-images/uploads/2022/03/opovidki-zubnoyi-feyi.png.webp"
		/></a>
		<p class="m-m"></p>
		<a
			class="f-a"
			href="https://drive.google.com/uc?export=download&id=1LbX_Gga9w7WdvzqlyAPSCFZFgqPYkh8S"
			>#13 Томатина правда</a
		>
		<p class="m-s"></p>
		<a
			href="https://drive.google.com/uc?export=download&id=1LbX_Gga9w7WdvzqlyAPSCFZFgqPYkh8S"
			><img
				src="https://osvitoria.media/wp-content/webp-express/webp-images/uploads/2022/03/prigoditomata.jpg.webp"
		/></a>
		<p class="m-m"></p>
		<a
			class="f-a"
			href="https://drive.google.com/uc?export=download&id=1_NX6vWyG7dCJDR1hzykis9nDCIhLQIrP"
			>#14 Чаклунка Лілі та магічний переполох</a
		>
		<p class="m-s"></p>
		<a
			href="https://drive.google.com/uc?export=download&id=1_NX6vWyG7dCJDR1hzykis9nDCIhLQIrP"
			><img
				src="https://osvitoria.media/wp-content/webp-express/webp-images/uploads/2022/03/Lili_2.jpg.webp"
		/></a>
		<p class="m-m"></p>
		<a
			class="f-a"
			href="https://drive.google.com/uc?export=download&id=1Xi89F_PAr1Sym_8vIsbj7dywaUDbMGuO"
			>#15 Найкращі казки світу</a
		>
		<p></p>
		<a
			href="https://drive.google.com/uc?export=download&id=1Xi89F_PAr1Sym_8vIsbj7dywaUDbMGuO"
			><img
				src="https://osvitoria.media/wp-content/webp-express/webp-images/uploads/2022/03/naykraschi-kazki-svitu.png.webp"
		/></a>
		<p class="m-s"></p>
		<a
			class="f-a"
			href="https://drive.google.com/uc?export=download&id=1sWIq7zhWxAV-Ty6IQ_wnAYgW9uU_85KE"
			>#16 Найкращі народні казки</a
		>
		<p></p>
		<a
			href="https://drive.google.com/uc?export=download&id=1sWIq7zhWxAV-Ty6IQ_wnAYgW9uU_85KE"
			><img
				src="https://osvitoria.media/wp-content/webp-express/webp-images/uploads/2022/03/naykrashi_narodni_kazki.png.webp"
		/></a>
		<p class="m-s"></p>
		<a
			class="f-a"
			href="https://drive.google.com/uc?export=download&id=1rdzJTesCyUWwZoOxrIDUiCa4ynx0fSCn"
			>#17 Рудий. Історія друга. Чарівна</a
		>
		<p></p>
		<a
			href="https://drive.google.com/uc?export=download&id=1rdzJTesCyUWwZoOxrIDUiCa4ynx0fSCn"
			><img
				src="https://osvitoria.media/wp-content/webp-express/webp-images/uploads/2022/03/rudiyistoriyadrugacharivna.jpg.webp"
		/></a>
		<p class="m-s"></p>
		<a
			class="f-a"
			href="https://drive.google.com/uc?export=download&id=1BFZvjERFG38W1UuOzaWH0l9MOazDGBxB"
			>#18 Рудий. Історія перша. Загадкова</a
		>
		<p></p>
		<a
			href="https://drive.google.com/uc?export=download&id=1BFZvjERFG38W1UuOzaWH0l9MOazDGBxB"
			><img
				src="https://osvitoria.media/wp-content/webp-express/webp-images/uploads/2022/03/rudiy.jpg.webp"
		/></a>
		<p class="m-s"></p>
		<a
			class="f-a"
			href="https://drive.google.com/uc?export=download&id=1_Y1T_V0-Pf7S4DPRYs7vjIpqPXt3QjJC"
			>#19 Казки на ніч</a
		>
		<p></p>
		<a
			href="https://drive.google.com/uc?export=download&id=1_Y1T_V0-Pf7S4DPRYs7vjIpqPXt3QjJC"
			><img
				src="https://osvitoria.media/wp-content/webp-express/webp-images/uploads/2022/03/kazki-na-nich.jpg.webp"
		/></a>
		<p class="m-s"></p>
		<a
			class="f-a"
			href="https://drive.google.com/uc?export=download&id=1bxTIxrztmLtuNpJhw4xbb8344n-QIq4-"
			>#20 Киці-мандрівниці та їхні друзі</a
		>
		<p></p>
		<a
			href="https://drive.google.com/uc?export=download&id=1bxTIxrztmLtuNpJhw4xbb8344n-QIq4-"
			><img
				src="https://osvitoria.media/wp-content/webp-express/webp-images/uploads/2022/03/kitsimandrivnitsi_lito.jpg.webp"
		/></a>
		<p class="m-s"></p>
		<a
			class="f-a"
			href="https://drive.google.com/uc?export=download&id=1za2lYielrgXD_zQIi2rlxD6hmZSPgKw-"
			>#21 Мамонт</a
		>
		<p class="m-s"></p>
		<a
			href="https://drive.google.com/uc?export=download&id=1za2lYielrgXD_zQIi2rlxD6hmZSPgKw-"
			><img
				src="https://osvitoria.media/wp-content/webp-express/webp-images/uploads/2022/03/r1082002u_slukhajsertsem_mamont_oblozhka-943-650.jpg.webp"
		/></a>
		<p class="m-m"></p>
		<a
			class="f-a"
			href="https://drive.google.com/uc?export=download&id=1PLXzZOibOX6Kz58tB0z9Ku_6mnHGDYbw"
			>#22 Велет нам програє!</a
		>
		<p class="m-s"></p>
		<a
			href="https://drive.google.com/uc?export=download&id=1PLXzZOibOX6Kz58tB0z9Ku_6mnHGDYbw"
			><img
				src="https://osvitoria.media/wp-content/webp-express/webp-images/uploads/2022/03/s786003u_chitalqnya_rivenq1_luschevska_veletnamprograe_oblozhka1-943-650.jpg.webp"
		/></a>
		<p class="m-m"></p>
		<a
			class="f-a"
			href="https://drive.google.com/uc?export=download&id=1Zk1poVtOXBaEf7fEHT9rdC3dnGDYAgYy"
			>#23 Що всередині?</a
		>
		<p class="m-s"></p>
		<a
			href="https://drive.google.com/uc?export=download&id=1Zk1poVtOXBaEf7fEHT9rdC3dnGDYAgYy"
			><img
				src="https://osvitoria.media/wp-content/webp-express/webp-images/uploads/2022/03/shtovseredini.jpg.webp"
		/></a>
		<p class="m-m"></p>
		<a
			class="f-a"
			href="https://drive.google.com/uc?export=download&id=1jlFhuQ47gCt4jmDTijuqUGSbVd6psD3j"
			>#24 101 маяк</a
		>
		<p class="m-s"></p>
		<a
			href="https://drive.google.com/uc?export=download&id=1jlFhuQ47gCt4jmDTijuqUGSbVd6psD3j"
			><img
				src="https://osvitoria.media/wp-content/webp-express/webp-images/uploads/2022/03/r990001u_knizhkaskartinkami_101mayak_oblozhka-943-650.jpg.webp"
		/></a>
		<p class="m-m"></p>
		<a
			class="f-a"
			href="https://drive.google.com/uc?export=download&id=1Mo8Q2Ax3k-DJv8L0oN_Mi8vAixXmTS-g"
			>#25 Єдиноріг</a
		>
		<p class="m-s"></p>
		<a
			href="https://drive.google.com/uc?export=download&id=1Mo8Q2Ax3k-DJv8L0oN_Mi8vAixXmTS-g"
			><img
				src="https://osvitoria.media/wp-content/webp-express/webp-images/uploads/2022/03/38_204.jpg.webp"
		/></a>
		<p class="m-m"></p>
		<a
			class="f-a"
			href="https://drive.google.com/uc?export=download&id=1mMczQpIf90AthEf9jSkYnNrLaasinJF1"
			>#26 Жаринка, що стала зорею</a
		>
		<p class="m-s"></p>
		<a
			href="https://drive.google.com/uc?export=download&id=1mMczQpIf90AthEf9jSkYnNrLaasinJF1"
			><img
				src="https://osvitoria.media/wp-content/webp-express/webp-images/uploads/2022/03/r990005u-943-650.jpg.webp"
		/></a>
		<p class="m-m"></p>
		<a
			class="f-a"
			href="https://drive.google.com/uc?export=download&id=1kIjKifvClTOiFjOkNpwVYsdEB27CorOg"
			>#27 Сни для канапи</a
		>
		<p class="m-s"></p>
		<a
			href="https://drive.google.com/uc?export=download&id=1kIjKifvClTOiFjOkNpwVYsdEB27CorOg"
			><img
				src="https://osvitoria.media/wp-content/webp-express/webp-images/uploads/2022/03/r990009u-943-650.jpg.webp"
		/></a>
		<p class="m-m"></p>
		<a
			class="f-a"
			href="https://drive.google.com/uc?export=download&id=1IHLBdapBCeoKHefvv6qQWVhncl0MY16q"
			>#28 Арктична пасіка</a
		>
		<p class="m-s"></p>
		<a
			href="https://drive.google.com/uc?export=download&id=1IHLBdapBCeoKHefvv6qQWVhncl0MY16q"
			><img
				src="https://osvitoria.media/wp-content/webp-express/webp-images/uploads/2022/03/s786023u-943-650.jpg.webp"
		/></a>
		<p class="m-m"></p>
		<a
			class="f-a"
			href="https://drive.google.com/uc?export=download&id=1KEjyRLmx8BuqqJNhy6ZIA3UN6BvLW4RE"
			>#29 Ким працюватиме Яся</a
		>
		<p class="m-s"></p>
		<a
			href="https://drive.google.com/uc?export=download&id=1KEjyRLmx8BuqqJNhy6ZIA3UN6BvLW4RE"
			><img
				src="https://osvitoria.media/wp-content/webp-express/webp-images/uploads/2022/03/yasya_obkladinka_25-943-650.jpg.webp"
		/></a>
		<p class="m-m"></p>
		<a
			class="f-a"
			href="https://drive.google.com/uc?export=download&id=1GB-Dw6gYlIwXAw3Miy2YHnZcvXd8GOvX"
			>#30 Калюжа</a
		>
		<p class="m-s"></p>
		<a
			href="https://drive.google.com/uc?export=download&id=1GB-Dw6gYlIwXAw3Miy2YHnZcvXd8GOvX"
			><img
				src="https://osvitoria.media/wp-content/webp-express/webp-images/uploads/2022/03/kalyuzha_obkladinka_11-943-650.jpg.webp"
		/></a>
		<p class="m-m"></p>
		<a
			class="f-a"
			href="https://drive.google.com/uc?export=download&id=1JyzJHCU0jgjxehSJBHgFV6bGGz_JflVd"
			>#31 Моя найтихіша книжка</a
		>
		<p class="m-s"></p>
		<a
			href="https://drive.google.com/uc?export=download&id=1JyzJHCU0jgjxehSJBHgFV6bGGz_JflVd"
			><img
				src="https://osvitoria.media/wp-content/webp-express/webp-images/uploads/2022/03/r990006u-943-650.jpg.webp"
		/></a>
		<p class="m-m"></p>
		<a
			class="f-a"
			href="https://drive.google.com/uc?export=download&id=1ilnN3FHQKE8e6HnY5ha6IOR_ptHQ1Bse"
			>#32 Як правильно ревіти?</a
		>
		<p class="m-s"></p>
		<a
			href="https://drive.google.com/uc?export=download&id=1ilnN3FHQKE8e6HnY5ha6IOR_ptHQ1Bse"
			><img
				src="https://osvitoria.media/wp-content/webp-express/webp-images/uploads/2022/03/r1083001u-943-650.jpg.webp"
		/></a>
		<p class="m-m"></p>
		<a
			class="f-a"
			href="https://drive.google.com/uc?export=download&id=1EAYoUFKJa23LFeyXrgPDlLogDp0LzUbD"
			>#33 Справа про зухвале викрадення пташенят</a
		>
		<p class="m-s"></p>
		<a
			href="https://drive.google.com/uc?export=download&id=1EAYoUFKJa23LFeyXrgPDlLogDp0LzUbD"
			><img
				src="https://osvitoria.media/wp-content/webp-express/webp-images/uploads/2022/03/Sprava-pro-zuhvale-vykradennia.jpg.webp"
		/></a>
		<p class="m-m"></p>
		<a
			class="f-a"
			href="https://drive.google.com/uc?export=download&id=1yCSP6Ripiq2qEx-BOqB-uDbD8OEW7jBl"
			>#34 Не той хлопчик</a
		>
		<p class="m-s"></p>
		<a
			href="https://drive.google.com/uc?export=download&id=1yCSP6Ripiq2qEx-BOqB-uDbD8OEW7jBl"
			><img
				src="https://osvitoria.media/wp-content/webp-express/webp-images/uploads/2022/03/Ne-toj-hlopchyk.jpg.webp"
		/></a>
		<p class="m-m"></p>
		<a
			class="f-a"
			href="https://drive.google.com/uc?export=download&id=1l7SJPEiE1vuKk0wdJtp8D1klx0Fv5MFJ"
			>#35 Замріяний котик Фаго</a
		>
		<p class="m-s"></p>
		<a
			href="https://drive.google.com/uc?export=download&id=1l7SJPEiE1vuKk0wdJtp8D1klx0Fv5MFJ"
			><img
				src="https://osvitoria.media/wp-content/webp-express/webp-images/uploads/2022/03/Kotyk-Fago.jpg.webp"
		/></a>
		<p class="m-m"></p>
		<a
			class="f-a"
			href="https://drive.google.com/uc?export=download&id=12L93BXi5BYPAcFcJfCJU7myENHoZ9nEe"
			>#36 Боброго ранку!</a
		>
		<p class="m-s"></p>
		<a
			href="https://drive.google.com/uc?export=download&id=12L93BXi5BYPAcFcJfCJU7myENHoZ9nEe"
			><img
				src="https://osvitoria.media/wp-content/webp-express/webp-images/uploads/2022/03/Bobroho.jpg.webp"
		/></a>
		<p class="m-m"></p>
		<a
			class="f-a"
			href="https://drive.google.com/uc?export=download&id=1SGLRZxos6JFEOdenlWU0Hkvogq5XHSdQ"
			>#37 Сором’язливий Сальватор</a
		>
		<p class="m-s"></p>
		<a
			href="https://drive.google.com/uc?export=download&id=1SGLRZxos6JFEOdenlWU0Hkvogq5XHSdQ"
			><img
				src="https://osvitoria.media/wp-content/webp-express/webp-images/uploads/2022/03/Salvator.jpg.webp"
		/></a>
		<p class="m-m"></p>
		<a
			class="f-a"
			href="https://drive.google.com/uc?export=download&id=1Davk4ejx8nsSfaUB8Sfex_YXvy-02DQQ"
			>#38 Міцна дружба Дімона</a
		>
		<p class="m-s"></p>
		<a
			href="https://drive.google.com/uc?export=download&id=1Davk4ejx8nsSfaUB8Sfex_YXvy-02DQQ"
			><img
				src="https://osvitoria.media/wp-content/webp-express/webp-images/uploads/2022/03/Druzhba-Dimona.jpg.webp"
		/></a>
		<p class="m-m"></p>
		<a
			class="f-a"
			href="https://drive.google.com/uc?export=download&id=1wbrQlM9-4xoDag0N5ieKhP9Z2-C-WUC4"
			>#39 Коники винахідників</a
		>
		<p class="m-s"></p>
		<a
			href="https://drive.google.com/uc?export=download&id=1wbrQlM9-4xoDag0N5ieKhP9Z2-C-WUC4"
			><img
				src="https://osvitoria.media/wp-content/webp-express/webp-images/uploads/2022/03/Konyky.jpg.webp"
		/></a>
		<p class="m-m"></p>
		<a
			class="f-a"
			href="https://drive.google.com/uc?export=download&id=1qpPxl-lwdbIv0n-vjR6LanFkoEj5pD8J"
			>#40 Космічні агенти проти Сирного Монстра</a
		>
		<p class="m-s"></p>
		<a
			href="https://drive.google.com/uc?export=download&id=1qpPxl-lwdbIv0n-vjR6LanFkoEj5pD8J"
			><img
				src="https://osvitoria.media/wp-content/webp-express/webp-images/uploads/2022/03/Kosmichni-agenty.jpg.webp"
		/></a>
		<p class="m-m"></p>
		<a
			class="f-a"
			href="https://drive.google.com/uc?export=download&id=1tfyfnzObqM3fOpwmGtKIlqsMcHqLEGC4"
			>#41 Мармуровий пес</a
		>
		<p class="m-s"></p>
		<a
			href="https://drive.google.com/uc?export=download&id=1tfyfnzObqM3fOpwmGtKIlqsMcHqLEGC4"
			><img
				src="https://osvitoria.media/wp-content/webp-express/webp-images/uploads/2022/03/Marmurovyj-pes.jpg.webp"
		/></a>
		<p class="m-m"></p>
		<a
			class="f-a"
			href="https://drive.google.com/uc?export=download&id=1GHlGmvkMnsjGHILP9E5KkOKFIjmnJOJQ"
			>#42 Нечуй невмирущий</a
		>
		<p class="m-s"></p>
		<a
			href="https://drive.google.com/uc?export=download&id=1GHlGmvkMnsjGHILP9E5KkOKFIjmnJOJQ"
			><img
				src="https://osvitoria.media/wp-content/webp-express/webp-images/uploads/2022/03/nechujnevmeruschij.jpg.webp"
		/></a>
		<p class="m-m"></p>
		<a
			class="f-a"
			href="https://drive.google.com/uc?export=download&id=1fu-tqM93jIirnC0y1NLs6G5JMFcp1FV"
			>#43 Білка Квасоля та Опівнічний Пожирака</a
		>
		<p class="m-s"></p>
		<a
			href="https://drive.google.com/uc?export=download&id=1fu-tqM93jIirnC0y1NLs6G5JMFcp1FV"
			><img
				src="https://osvitoria.media/wp-content/webp-express/webp-images/uploads/2022/03/bilka-kvasolia.jpg.webp"
		/></a>
		<p class="m-m"></p>
		<a
			class="f-a"
			href="https://drive.google.com/uc?export=download&id=1Sf0mYlZUzkNjeZteMJPnUX4Cd9wDt-vm"
			>#44 Іванна і ванна</a
		>
		<p class="m-s"></p>
		<a
			href="https://drive.google.com/uc?export=download&id=1Sf0mYlZUzkNjeZteMJPnUX4Cd9wDt-vm"
			><img
				src="https://osvitoria.media/wp-content/webp-express/webp-images/uploads/2022/03/ivannaivanna.jpg.webp"
		/></a>
		<p class="m-m"></p>
		<a
			class="f-a"
			href="https://drive.google.com/uc?export=download&id=1tINN1lK4NHMRrikUQtFTemrTJLe4Ftgw"
			>#45 Капітан Кеп і курячі пірати</a
		>
		<p class="m-s"></p>
		<a
			href="https://drive.google.com/uc?export=download&id=1tINN1lK4NHMRrikUQtFTemrTJLe4Ftgw"
			><img
				src="https://osvitoria.media/wp-content/webp-express/webp-images/uploads/2022/03/kapitan-kep.jpg.webp"
		/></a>
		<p class="m-m"></p>
		<a
			class="f-a"
			href="https://drive.google.com/uc?export=download&id=1iLHrTDk09fRQyzIHykT2jovbrpCZyrDl"
			>#46 Таємне завдання капітана Кепа</a
		>
		<p class="m-s"></p>
		<a
			href="https://drive.google.com/uc?export=download&id=1iLHrTDk09fRQyzIHykT2jovbrpCZyrDl"
			><img
				src="https://osvitoria.media/wp-content/webp-express/webp-images/uploads/2022/03/tajemne-zavdannia-kepa-1.jpg.webp"
		/></a>
		<p class="m-m"></p>
		<a
			class="f-a"
			href="https://drive.google.com/uc?export=download&id=1m2pnND_FsMIyXyReNGsOixZK4nIVVWSL"
			>#47 Безкінечні казки</a
		>
		<p class="m-s"></p>
		<a
			href="https://drive.google.com/uc?export=download&id=1m2pnND_FsMIyXyReNGsOixZK4nIVVWSL"
			><img
				src="https://osvitoria.media/wp-content/webp-express/webp-images/uploads/2022/03/bezkinechni-kazky-1.jpg.webp"
		/></a>
		<p class="m-m"></p>
		<a
			class="f-a"
			href="https://drive.google.com/uc?export=download&id=1VfI7fNzhAQoVIKIjugltELe_M-O9J_Ep"
			>#48 Котигорошка. Заплутані казки</a
		>
		<p class="m-s"></p>
		<a
			href="https://drive.google.com/uc?export=download&id=1VfI7fNzhAQoVIKIjugltELe_M-O9J_Ep"
			><img
				src="https://osvitoria.media/wp-content/webp-express/webp-images/uploads/2022/03/kotygoroshka.jpg.webp"
		/></a>
		<p class="m-m"></p>
		<a
			class="f-a"
			href="https://drive.google.com/uc?export=download&id=1YewEqKImPhSln_xjhGZccxpeSXtw1YtD"
			>#49 Віктор_Робот</a
		>
		<p class="m-s"></p>
		<a
			href="https://drive.google.com/uc?export=download&id=1YewEqKImPhSln_xjhGZccxpeSXtw1YtD"
			><img
				src="https://osvitoria.media/wp-content/webp-express/webp-images/uploads/2022/03/viktor-robot.jpg.webp"
		/></a>
		<p class="m-m"></p>
		<a
			class="f-a"
			href="https://drive.google.com/uc?export=download&id=1AXPBteUuyLyUyyeAN0KWQy0WEg8QCXsx"
			>#50 Чубзики</a
		>
		<p class="m-s"></p>
		<a
			href="https://drive.google.com/uc?export=download&id=1AXPBteUuyLyUyyeAN0KWQy0WEg8QCXsx"
			><img
				src="https://osvitoria.media/wp-content/webp-express/webp-images/uploads/2022/03/chubziki-1.jpg.webp"
		/></a>
		<p class="m-m"></p>
		<a
			class="f-a"
			href="https://drive.google.com/uc?export=download&id=1RQqrXS5YOaRv2t9XAR4rEUxDxYD5RBjG"
			>#51 НЛО за селом</a
		>
		<p class="m-s"></p>
		<a
			href="https://drive.google.com/uc?export=download&id=1RQqrXS5YOaRv2t9XAR4rEUxDxYD5RBjG"
			><img
				src="https://osvitoria.media/wp-content/webp-express/webp-images/uploads/2022/03/nlo-za-selom.jpg.webp"
		/></a>
		<p class="m-m"></p>
		<a
			class="f-a"
			href="https://drive.google.com/uc?export=download&id=1hpG05XLK6jowcVsPFVTMItggLEFaWNNI"
			>#52 Жахлива книжка</a
		>
		<p class="m-s"></p>
		<a
			href="https://drive.google.com/uc?export=download&id=1hpG05XLK6jowcVsPFVTMItggLEFaWNNI"
			><img
				src="https://osvitoria.media/wp-content/webp-express/webp-images/uploads/2022/03/zhahlyva-knyzhka.jpg.webp"
		/></a>
		<p class="m-m"></p>
		<a
			class="f-a"
			href="https://drive.google.com/uc?export=download&id=1qpPxl-lwdbIv0n-vjR6LanFkoEj5pD8J"
			>#53 Космічні агенти проти Сирного Монстра</a
		>
		<p class="m-s"></p>
		<a
			class="f-a"
			href="https://drive.google.com/uc?export=download&id=1qpPxl-lwdbIv0n-vjR6LanFkoEj5pD8J"
			><img
				src="https://osvitoria.media/wp-content/webp-express/webp-images/uploads/2022/03/agenty-2.jpg.webp"
		/></a>
		<p class="m-m"></p>
		<a
			class="f-a"
			href="https://drive.google.com/uc?export=download&id=1-O7R-8nDvfjciaUr-4rltAaC88oP7PaV"
			>#54 Мама прийшла</a
		>
		<p class="m-s"></p>
		<a
			href="https://drive.google.com/uc?export=download&id=1-O7R-8nDvfjciaUr-4rltAaC88oP7PaV"
			><img
				src="https://osvitoria.media/wp-content/webp-express/webp-images/uploads/2022/03/mama-priyshla-81887365862351.jpeg.webp"
		/></a>
		<p class="m-m"></p>
		<a
			class="f-a"
			href="https://drive.google.com/uc?export=download&id=1608mDrY6P9bCTVlDC-Kk4ZI7GuxWE7tV"
			>#55 Біжи, саламандро!</a
		>
		<p class="m-s"></p>
		<a
			href="https://drive.google.com/uc?export=download&id=1608mDrY6P9bCTVlDC-Kk4ZI7GuxWE7tV"
			><img
				src="https://osvitoria.media/wp-content/webp-express/webp-images/uploads/2022/03/bizhi-salamandro-67980885124438.jpeg.webp"
		/></a>
		<p class="m-m"></p>
		<a
			class="f-a"
			href="https://drive.google.com/uc?export=download&id=12qGOXEjhUGFWLvp6hHKRVhQccgnfyPU"
			>#56 Сюрприз для сов</a
		>
		<p class="m-s"></p>
		<a
			href="https://drive.google.com/uc?export=download&id=12qGOXEjhUGFWLvp6hHKRVhQccgnfyPU"
			><img
				src="https://osvitoria.media/wp-content/webp-express/webp-images/uploads/2022/03/surpriz-dlya-sov-78389598662503.jpeg.webp"
		/></a>
		<p class="m-m"></p>
		<a
			class="f-a"
			href="https://drive.google.com/uc?export=download&id=1QTHdC6sQqH-fw4wpej9bYNkkbHrAnfje"
			>#57 Велике перевтілення</a
		>
		<p class="m-s"></p>
		<a
			href="https://drive.google.com/uc?export=download&id=1QTHdC6sQqH-fw4wpej9bYNkkbHrAnfje"
			><img
				src="https://osvitoria.media/wp-content/webp-express/webp-images/uploads/2022/03/velike-perevtilennya-99090218143342.jpeg.webp"
		/></a>
		<p class="m-m"></p>
		<a
			class="f-a"
			href="https://drive.google.com/uc?export=download&id=1nEygfbLVurmhEqkSTd5lTr6Qw47SYOID"
			>#58 Вусанчик, або Cором’язливе кошеня</a
		>
		<p class="m-s"></p>
		<a
			href="https://drive.google.com/uc?export=download&id=1nEygfbLVurmhEqkSTd5lTr6Qw47SYOID"
			><img
				src="https://osvitoria.media/wp-content/webp-express/webp-images/uploads/2022/03/Vusanchyk.jpg.webp"
		/></a>
		<p class="m-m"></p>
		<a
			class="f-a"
			href="hhttps://drive.google.com/uc?export=download&id=1IxKsnpTJm9ltsmm9GTnBrCn7bwMiM_Yf"
			>#59 Еллі, або Найвідданіше цуценя</a
		>
		<p class="m-s"></p>
		<a
			href="https://drive.google.com/uc?export=download&id=1IxKsnpTJm9ltsmm9GTnBrCn7bwMiM_Yf"
			><img
				src="https://osvitoria.media/wp-content/webp-express/webp-images/uploads/2022/03/Elli.jpg.webp"
		/></a>
		<p class="m-m"></p>
		<a
			class="f-a"
			href="https://drive.google.com/uc?export=download&id=1CN_G2_EMD3U9r_dTLquKEqFJHYwoz23e"
			>#60 Місті, або Кішечка — подарунок долі</a
		>
		<p class="m-s"></p>
		<a
			href="https://drive.google.com/uc?export=download&id=1CN_G2_EMD3U9r_dTLquKEqFJHYwoz23e"
			><img
				src="https://osvitoria.media/wp-content/webp-express/webp-images/uploads/2022/03/Misti.jpg.webp"
		/></a>
		<p class="m-m"></p>
		<a
			class="f-a"
			href="https://drive.google.com/uc?export=download&id=12uhkOeAoju6VHjWpuew2sdz-iSHEs50u"
			>#61 Тигрик, або Кошеня — шукач пригод</a
		>
		<p class="m-s"></p>
		<a
			href="https://drive.google.com/uc?export=download&id=12uhkOeAoju6VHjWpuew2sdz-iSHEs50u"
			><img
				src="https://osvitoria.media/wp-content/webp-express/webp-images/uploads/2022/03/Tyhryk.jpg.webp"
		/></a>
		<p class="m-m"></p>
		<a
			class="f-a"
			href="https://drive.google.com/uc?export=download&id=1GAhpDOqv6k7HMN3aBpStPpYCSOeV2_e8"
			>#62 Ніта-ховайтесь-фейки-світу</a
		>
		<p class="m-s"></p>
		<a
			href="https://drive.google.com/uc?export=download&id=1GAhpDOqv6k7HMN3aBpStPpYCSOeV2_e8"
			><img
				src="https://osvitoria.media/wp-content/webp-express/webp-images/uploads/2022/03/Nita.jpg.webp"
		/></a>
		<p class="m-m"></p>
		<a
			class="f-a"
			href="https://drive.google.com/uc?export=download&id=16hQB0bn6bCTytncTiRv0qruzRp4yrT2K"
			>#63 Легенди з мандрів</a
		>
		<p class="m-s"></p>
		<a
			href="https://drive.google.com/uc?export=download&id=16hQB0bn6bCTytncTiRv0qruzRp4yrT2K"
			><img
				src="https://osvitoria.media/wp-content/webp-express/webp-images/uploads/2022/03/Legendy-z-mandriv.jpg.webp"
		/></a>
		<p class="m-m"></p>
		<a
			class="f-a"
			href="https://drive.google.com/uc?export=download&id=19S8C3dALfGmCLvm67uFGAl6lWUUvIp0Z"
			>#64 Чаклунка Лілі перевертає школу догори дриґом</a
		>
		<p class="m-s"></p>
		<a
			href="https://drive.google.com/uc?export=download&id=19S8C3dALfGmCLvm67uFGAl6lWUUvIp0Z"
			><img
				src="https://osvitoria.media/wp-content/webp-express/webp-images/uploads/2022/03/Lili_1.jpg.webp"
		/></a>
		<hr class="m-hr" />
		<p class="f-p1 m-s">
			All books have been made available for free by the Osvitoria Foundation
		</p>
		<a href="https://osvitoria.media" target="_blank"
			><img
				src="https://osvitoria.media/wp-content/uploads/2021/04/Osvitoriya-media.png"
				alt="logo Osvitoria"
				width="236"
				height="210"
		/></a>
		<hr class="m-hr" />
		<p class="f-p1 m-s">
			If you want to support me, give a thumbs up to my Instagram account.
		</p>
		<a href="https://www.instagram.com/ide.na.rower" target="_blank"
			><img
				src="https://step-tech.pl/wp-content/uploads/2020/10/1602356021_Ny-Instagram-version-for-iOS-First-Impressions.jpg"
				alt="logo Instagram"
				width="163"
				height="157"
		/></a>
		<hr class="m-hr" />
		<p class="f-p1 m-s">And if you are not a fan of reading then…</p>
		<iframe
			width="442"
			height="349"
			src="https://www.youtube.com/embed/iUIblK2zN8Q"
			title="YouTube video player"
			frameborder="0"
			allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
			allowfullscreen
		></iframe>
		<p class="f-p1 m-a1">And here comes something special…</p>
		<iframe
			width="442"
			height="349"
			src="https://www.youtube.com/embed/xVQJV71G3VQ"
			title="YouTube video player"
			frameborder="0"
			allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
			allowfullscreen
		></iframe>
		<hr class="m-hr" />
	</body>
	<footer>
		<p class="f-p2">copy right by ide.na.rower</p>
	</footer>
</html>
